* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background: #0b1c2d;
    color: white;
  }
  
  /* NAVBAR */
  .navbar {
    padding: 15px 40px;
    background: #081524;
  }
  
  .logo {
    font-size: 26px;
    font-weight: bold;
  }
  .logo span {
    color: orange;
  }
  
  /* HERO */
  .hero {
    height: 60vh;
    background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
    url(images/house1.jpg) center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 40px;
  }
  .hero p {
    margin-top: 10px;
  }
  
  /* HOUSES */
  .houses {
    padding: 50px;
    text-align: center;
  }
  
  .house-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    gap: 30px;
    margin-top: 30px;
  }
  
  .house-card {
    background: #11263f;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: .3s;
  }
  
  .house-card:hover {
    transform: translateY(-10px);
  }
  
  .house-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .house-card h3 {
    margin: 10px;
  }
  .house-card p {
    margin: 0 10px 10px;
  }
  
  .price {
    color: orange;
    font-weight: bold;
  }
  
  /* DETAILS */
  .details {
    padding: 40px;
  }
  
  .gallery img {
    width: 100%;
    max-height: 420px;
    object-fit: cover;
    .booking-box {
        margin-top: 25px;
        background: #11263f;
        padding: 20px;
        border-radius: 10px;
        max-width: 400px;
      }
      
      .booking-box h3 {
        margin-bottom: 10px;
        color: orange;
      }
      
      .booking-box label {
        display: block;
        margin-top: 10px;
      }
      
      .booking-box input {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border-radius: 5px;
        border: none;
      }
        